.App {
  text-align: center;
  
}
a:link{
  text-decoration: none;
  
}
a:hover{
  text-decoration: none;
  
}
a:visited{
  text-decoration: underline; 
}

.nav{
  
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  list-style: none;
  background: rgb(202, 20, 20);
  min-height: 10vh;
  text-align: left;
  
}

.nav-links{
  border: 1px white solid;
  max-width: 30% 30%;
  display: flex;
  align-items: left;
  list-style: none;
  background: white;
  font-size: 20px;
  justify-content: space-between;
  position: relative;
  border-right: 1px solid black;
  padding: 10px;
}

.box{
  box-sizing: border-box;
  font-size: 13px;
  line-height: 14px;
  border: 1px solid black;
}
.home{
  display: flex;
  justify-content: space-evenly;
  font-size: 10px;
  padding: 10px 20px;
  align-items: left;
  list-style: none;
  max-width: 100%;
  background: whitesmoke;

}
.cart{
  display: center;
}
.menu{
  display: center;
}
.specials{
  display: center;

}